@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.5;
}